<%-include("header")-%>

<h2>About Me</h2>
<p>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Praesentium molestias animi, illum, rem consequatur, optio odit tempore delectus vero ipsam molestiae laudantium laborum eum saepe officiis minus assumenda. Nam, eveniet.</p>

<%-include("footer")-%>
